body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-flow: row;
    height: 100%;
    overflow: scroll;
}